$primary-color: #e65053;
$primary-color-dark: #b02a2c;

$secondary-color: #5d49e3;
// $secondary-color-dark: ;

$tertiary-color-xlight: #626c80;
$tertiary-color-light: #2c2f36;
$tertiary-color: #26282e;
$tertiary-color-dark: #222326;
$tertiary-color-xdark: #1a1b1f;

$body-bg: $tertiary-color-xdark;
